numpy
gdown
torch==1.6.0
torchvision==0.26.0
joblib==0.15.1
opencv-python==4.13.0.92
trimesh==3.8.12
pyrender==0.1.45
smplx==0.1.28
tqdm==4.67.3
loguru==0.7.3
albumentations==0.4.6
scipy==1.17.1
pyyaml==5.3.1
yacs==0.1.8
matplotlib==3.10.8
scikit-image==0.26.0
pillow==8.2.0
pytorch-lightning==1.1.8
numba==0.64.0
filterpy==1.4.5
flatten-dict==0.4.2
fastai==1.0.55
jpeg4py==0.1.4
chumpy==0.70
torchgeometry==0.1.2
setuptools==47.3.1
git+https://github.com/mkocabas/yolov3-pytorch.git
git+https://github.com/mkocabas/multi-person-tracker.git
git+https://github.com/giacaglia/pytube.git
