fastapi
uvicorn[standard]
slowapi  # Rate limiting for FastAPI
# Payment Processing
# ------------------
razorpay==1.4.1  # Razorpay payment gateway integration


# FastAPI Backend
# ---------------
python-multipart
pydantic
loguru
Pillow
sqlmodel
argon2-cffi
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
opencv-python-headless
numpy
replicate
groq
requests

